.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.mainContainer {

    width: 1400px;
    height: 900px;
   

}
.listContainer {
    margin-top : 50px;
    width: 600px;
    height: 600px;
    float: left;
}

.logout{
  margin-left: 1000;
}

.header {


}

.drop{
  width:100px;
}
.infoContainer {
    margin-top: 100px;
    padding-left: 10px;
    width: 400px;
    height: 600px;
    float: left;
}

.rightContainer {
    margin-top: 50px;
    width: 400px;
    height: 600px;
    float: left;
}

.changingContainer {
  width :1400px;
  height : 600px;


}
.footer {
   margin-left:400px;
   margin-top:150px;
    height: 100px;
    width: 800px;
    clear: both;
}

.hoverable:hover {
    background-color:wheat;

}