.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.logout{
  margin-left: 1000;
}



.table-wrapper-scroll-y {
display: block;
max-height: 100%;
max-width: 100%;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}

.drop{
  width:100px;
}

.mainContainer {

  width: 100%;
  height: 1000px;
 

}
.smallList{
  margin-top : 50px;
  width: 30%;
  height: 650px;
  float: left;
}

.listContainer {
  margin-top : 50px;
  width: 51%;
  height: 650px;
  float: left;
}

.infoContainer {
    margin-top: 100px;
    width: 20%;
    height: 600px;
    float: left;
}

.cvContainer{
  margin-top : 50px;
  width: 30%;
  height: 650px;
  float: left;
}
.cvlistContainer{
  margin-top : 50px;
  width: 40%;
  height: 650px;
  float: left;
}
.rightContainer {
    margin-top: 50px;
    width:25%;
    height: 600px;
    float: left;
}

.changingContainer {
  width :100%;
  height : 800px;
  float:left;

}
.footer {
  position: absolute;
    bottom:50px;
    height: 100px;
    width: 100%;
    clear: both;
}

.hoverable:hover {
    background-color:wheat;

}