body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient( rgb(169, 169, 169, 0.5), rgb(169, 169, 169, 0.15));

    background-repeat: no-repeat;
    background-attachment: fixed;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MyFooter {

  border-radius: 0 !important;
  border-bottom: 0;
  margin: 50px 0 0;
}

