body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient( rgb(175, 150, 185, 0.3), rgb(180, 145, 200, 0.4));

    background-repeat: no-repeat;
    background-attachment: fixed;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

iframe {
    height: 100%;
    width: 400px;
   padding-left: 15px;

}



.logout {
  position: absolute;
  right: 0;
  
}

.panel-title {
  border-bottom: 0;
  margin: 25px 0 0;
}

